[Unit]
Description=PTP measurement metrics to the pruts textfile dir
After=ptp4l.service
Wants=ptp4l.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ptp-prom
Nice=10
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
